<h1>Products</h1>

<% @products.each do |p| %>
	<%= p.name %>
	<%= truncate p.description, length: 50 %>
	<%= p.format_price %>
	
	<%= link_to 'show', p %><br />
<% end %><br />


<%= link_to 'New Product', new_product_path %>

<%= link_to 'Sign Up', new_user_path %>
