<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<span class="price"><%= @product.format_price %></span>
<br />

<%= link_to 'Back', products_path %>
<%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' } %>