<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="nav-spacer">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Rainforest', products_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
        <% if current_user %>
          <li><%= link_to 'Signed in as: ' + current_user.name, user_path(current_user.id) %></li>
          <li> <%= link_to "Log out", session_path("current"), :method => :delete %> </li>
        <% else %>
          <li> <%= link_to "Log in", new_session_path %> </li>
          <li> <%= link_to "Sign up", new_user_path %> </li>
        <% end %>
        </ul>

        <ul class="right_side"> 

	<%= yield %>

<ul class="message_container">
  <% if flash[:notice] %>
    <li class="alert alert-success"><%= flash[:notice] %></li>
  <% end %>

  <% if flash[:alert] %>
    <li class="alert alert-error"><%= flash[:alert] %></li>
  <% end %>
</ul>

</div>

</body>
</html>
